@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
html {
  font-family: 'Ubuntu', sans-serif;
	color: white;
    background-image: url("/media/global/background.svg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 40vh;
	scroll-behavior: smooth;
	max-width: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 1.5vw;
}
::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, #2d0343, #5f0071, #05306c);
    border-left: solid #864b7d 0.5px;;
}
::-webkit-scrollbar-thumb {
  background: #6d4380;
  border: solid #a871a0 0.5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4d356f;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:active {
  background: #302260;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
    background-color: #925caa;
    border: solid #a871a0 0.5px;
}
::-webkit-scrollbar-button:hover {
    background: #4d356f;
}
::-webkit-scrollbar-button:active {
    background: #302260;
}
body {
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
p {
	color: white;
}
.explore_preview {
	width: 75vw;
	height: auto;
	margin-left: 12.5vw;
	background: rgb(33,0,36);
	background: linear-gradient(to bottom, rgb(15, 132, 24) 0%,rgba(26,27,119,1) 24%,rgba(82,2,107,1) 100%);
	border-width: thin;
	border-color: #F6A8FF;
	border-radius: 25px;
	border-style: solid;
	box-shadow: inset 0 0 0.5vw #F6A8FF;
}
a,
a:visited {
	color: #8B74FF;
    transition: color 200ms;
}
a:hover {
    color: #7e8ee8;
    transition: color 200ms;
}
a:active {
    color: #7ecbe8;
}
.nolinkcolor {
    color: white;
}
.box1 {
	background: rgb(33,0,36);
	background: linear-gradient(to bottom, rgba(15,78,132,1) 0%,rgba(26,27,119,1) 24%,rgba(82,2,107,1) 100%);
	border-width: thin;
	border-color: #F6A8FF;
	border-radius: 25px;
	border-style: solid;
	box-shadow: inset 0 0 6px #F6A8FF;
}
.box2 {
	background: rgb(33,0,36);
	background: linear-gradient(to right, rgba(15,78,132,1) 0%,rgba(26,27,119,1) 24%,rgba(82,2,107,1) 100%);
	border-width: thin;
	border-color: #F6A8FF;
	border-radius: 25px;
	border-style: solid;
	box-shadow: inset 0 0 5px #F6A8FF;
}
.box3 {
    margin-top: 5vh;
    width: 85vw;
	margin-left: calc(5vw);
	background: linear-gradient(to bottom right, #060131, #3a0341);
	border: 1px solid #ed98d5;
    border-radius: 10px;
	box-shadow: 0 2px 10px black;
	padding: 20px;
    text-decoration: none;
    margin-bottom: 30px;
}
.box3 a {
    text-decoration: none;
}
.box3innerbox {
    height: 100px;
    border-top: 1px solid #ed98d5;
    border-bottom: 1px solid #ed98d5;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
    text-decoration: none;
}
.box3innerbox:hover {
    background: linear-gradient(to bottom right, #03001d, #2c0331);
    box-shadow: inset 0 0 15px black;
}
.box3innerbox p {
    margin-left: 20px;
    padding: 0;
    vertical-align: middle;
    line-height: 70px;
    text-decoration: none;
    text-shadow: 2px 2px 0 black
}
.box3innerbox img {
    float: right;
    height: 100px;
    width: auto;
    border-radius: 10px 0 0 10px;
    border: solid 1px #ed98d5;
    margin-top: -17px;
	transition: filter 200ms;
}
.box3innerbox:hover img {
    box-shadow: 0 0 13px black;
	filter: grayscale(100%);
	filter: brightness(70%);
	transition: filter 200ms;
	z-index: -10;
}
.box3title {
	font-size: 30px;
	padding-bottom: 20px;
}
.shadow1 {
    box-shadow: 0 0 15px black;
}
.shadow2 {
    box-shadow: 0 0 10px black;
}
.shadow2_bottomoffset {
    box-shadow: 0 3px 10px black;
}
.smallradius1 {
	border-radius: 10px;
}
.smallradius2 {
	border-radius: 7.5px;
}
.smallradius3 {
	border-radius: 5px;
}
hr {
    border-color: #F6A8FF;
    width: 45vw
}
.hrlong {
    width: 80vw
}
.coverart {
	height: 21.6vh;
    min-width: 15.3vh;
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
	float: right;
    font-size: 2.7vh;
    border-image-source: linear-gradient(to bottom right, #912cbe, #2078b9);
    box-shadow: 2px 2px 0 black;
}
.game {
	text-decoration: none;
	border-radius: 30px;
	margin-top: 40px;
	color: purple;
	height: 32vh;
    width: 90vw;
    margin-left: 4.5vw;
    background: linear-gradient(to bottom, rgba(15,78,132,1) 0%,rgba(26,27,119,1) 24%,rgba(82,2,107,1) 100%);
    box-shadow: inset 0 0 10px #F6A8FF;
    transition: background 200ms, border-radius 200ms;
}
.gametext {
	text-decoration: none;
	color: #cacffe;
	text-align: center;
	transition: 0.35s;
    font-size: 3.2vh;
    text-shadow: 2px 2px 0 black;
}
.game:active {
    color: mediumpurple;
    text-decoration: none;
    transition: 0.35s;
}
.game:hover {
    color: rebeccapurple;
    text-decoration: none;
    background: linear-gradient(to top, rgba(15,78,132,1) 0%,rgb(23, 24, 114) 24%,rgba(82,2,107,1) 100%);
    border-radius: 20px;
    transition: background 200ms, border-radius 200ms;
}
.game:visited {
    color: purple;
    text-decoration: none;
    transition: 0.35s;
}
.textcentered {
    text-align: center;
    margin: 3%
}
.padding1 {
    padding: 1%
}
.nodecoration {
    text-decoration: none;
}
#pagebottombtn {
    color: white;
    box-shadow: inset 0 0 3px #F6A8FF, 0 0 5px black;
    transition: padding 200ms, left 200ms, box-shadow 200ms;
}
#pagebottombtn:hover {
    padding: 1.5%;
    box-shadow: inset 0 0 5px #F6A8FF, 0 0 7px black;
    transition: padding 200ms, left 200ms, box-shadow 200ms;
}
.audiocaption {
    position: static;
    margin-top: 8px;
    margin-left: calc(50% - 42.5vw);
    float: none;
    font-size: 0.7em;
    color: darkgrey;
    font-style: italic;
    text-align: center;
    width: 80vw;
    text-shadow: 2px 2px 0 black;
    margin-bottom: 10px;
}
.giscus {
    width: 80vw;
    text-shadow: 2px 2px 0 black;
}
.giscus-frame {
	margin-top: 5vh;
    width: 80vw;
	margin-left: calc(11vw - 40px);
	background: linear-gradient(to bottom right, #060131, #3a0341);
	border: 1px solid #ed98d5;
    border-radius: 10px;
	box-shadow: 0 2px 10px black;
	padding: 20px;
}
.subtlelink a{
    color: #b77ee2;
    text-decoration: underline;
}
.subtlelink li{
    margin-bottom: 10px;
}
audio {
	width: 80vw;
	background: linear-gradient(to bottom right, #060131, #3a0341);
	border-radius: 10px;
	padding: 20px;
	border: 1px solid #ed98d5;
	box-shadow: 0 2px 10px black; 
	margin-left: -10vw
}
.tab {
	margin-left: 25px;
}
.autowidth {
	width: auto;
}
.filloverflow {
	overflow: visible;
}
.infoul {
    list-style:none;
    margin-left: -10px;
}
.li_bullet2 {
    list-style: none;
    font-size: 1.3em;
}
.news_article_content {
  max-height: 200px;
  position: relative;
  overflow: hidden;
}
.news_article_content .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent, black); 
}
.read-more > .button {
	right: 10px;
	bottom: 10px;
}
.news_article_content > p > iframe {
    position: relative;
	border: none;
	width: 100%;
    height: 500px;
    overflow: visible;
    margin-top: -20px;
}
.button {
    position: absolute;
    color: white;
	background: rgb(33,0,36);
	background: linear-gradient(to right, rgba(15,78,132,1) 0%,rgba(26,27,119,1) 24%,rgba(82,2,107,1) 100%);
	border-width: thin;
	border-color: #F6A8FF;
	border-radius: 5px;
	border-style: solid;
	box-shadow: inset 0 0 5px #F6A8FF;
	text-decoration: none;
	padding: 1%;
    transition: padding 200ms, left 200ms, box-shadow 200ms;
}
.button:hover {
    padding: 1.5%;
    box-shadow: inset 0 0 5px #F6A8FF, 0 0 7px black;
    transition: padding 200ms, left 200ms, box-shadow 200ms;
}
code {
	background-image: linear-gradient(to right, rgba(255,178,249,0.50), rgba(159,185,255,0.50));
	font-size: 1.4em;
	padding: 5px;
	margin: 5px;
	display: flex;
	vertical-align: middle;
	border-left: solid rgba(195,141,255,1.00) 7px;
	color: rgba(255,255,255,1.00);
	text-shadow: none;
	font-family: monospace;
}
button {
	background-color: rgba(24,18,55,1.00);
	border: solid 2px white;
	border-radius: 2px;
	color: white;
}
.bottombutton::before {
    content: "";
}
.hometableborder {
	border: 3px purple;
	border-style: ridge
}
.homeinnerbox {
	width: 100%;
	margin-left: 0.1px;
}
.gametext_home {

}
.coverart_home {
	
}
.box2_home {
	background: rgb(33,0,36);
	background: linear-gradient(to right, rgba(15,78,132,1) 0%,rgba(26,27,119,1) 24%,rgba(82,2,107,1) 100%);
	border-width: thin;
	border-color: #F6A8FF;
	border-radius: 2px;
	border-style: solid;
	box-shadow: inset 0 0 3px #F6A8FF;
	text-align: center;
	align-content: center;
	align-items: center;
	alignment-baseline: center;
	align-self: center;
	color: white;
}
.box2_home a{
	color: white;
}

/* MARKDOWN BEGIN (ALL BELOW SHOULD START WITH .markdown !!!) */
.markdown * {
    box-sizing: border-box;
	display: block;
}
.markdown html, .markdown body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.markdown hr {
    margin: 1em 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.markdown blockquote {
    margin-left: 0;
    padding: 0.5em 0 0.5em 2em;
    border-left: 3px solid rgb(211, 218, 234);
}
.markdown li, code {
    margin: 0.4em 0;
}
.markdown li {
    list-style: circle;
}
.markdown ul {
    padding-left: 30px;
    list-style: circle;
    list-style-type: circle;
    content: open-quote;
}
.markdown p {
    margin: 0.9em 0;
}
.markdown code {
    background: rgba(211, 218, 234, 0.25);
}
.markdown pre > code {
    display: block;
    padding: 0.5em 4em;
}
.markdown table {
    border-spacing: 0;
    border-collapse: collapse;
}
.markdown td {
    padding: 4px 8px;
}
.markdown tr:nth-child(2n) {
    background: #f3f3f3;
}
.markdown th {
    border-bottom: 1px solid #aaa;
}
.markdown img {
    max-width: 96px;
}
.markdown {
    left: 50%;
    padding: 0 0 0 12px;
    overflow: auto;
    font-family: -apple-system,BlinkMacSystemFont,SegoUI,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.3;
}
.plain {
	display: none;
}
/* MARKDOWN END */
