<meta charset="utf-8">
{% if page.title == nil %}
<title>Cut Content</title>
{% else %}
<title>{{ page.title }} | Cut Content</title>
{% endif %}
<script src="https://code.jquery.com/jquery.min.js" />
<script src="/global_import.js"></script>
<link href="/style.css" rel="stylesheet" />
<link href="/nav.css" rel="stylesheet" />
{% if page.layout == "article" %}
<link href="/articles/article_style.css" rel="stylesheet">
{% endif %}
<link href="/favicon.ico" rel="icon" />
<script src="/audiplay.js" />
