<div class="banner">
	<img src="/media/global/banner.svg" class="banner_back" alt="Banner">
	<a class="icon_btn" href="/index.html"><img class="icon_btn_img" src="/media/global/favicon.png" alt="Cut Content Icon"></a>
	<a class="vault_btn"><img class="vault_btn_img" src="/media/global/vault.png" alt="Vault"></a>
	<a class="news_btn" href="/news/index.html"><img class="news_btn_img" src="/media/global/news.png" alt="News"></a>
	<a class="chat_btn" href="https://discord.gg/VyKyfEsYrB"><img class="chat_btn_img" src="/media/global/chat.png" alt="Chat"></a>
	<a class="info_btn" href="/info.html"><img class="info_btn_img" src="/media/global/infobtn.png" alt="Info"></a>
</div>
