<!doctype html>
<html>
	<head>
		{% include head.html %}
	</head>

	<body>
        <div id="topofpage"></div>
		<!-- Navbar Start -->
		
    {% include nav.html %}
    
		<br>
		
		<!-- Navbar End-->
		
		
		<!-- Page Start -->
		{% if page.subarticle %}
		<div id="articlepagecontainer">
		<a href="index.html">⬅ Go back</a>
		</div>
		{% endif %}
		<!-- title + hr -->
        <h1 class="articlepagetitle">{{ page.title }}</h1>
        <hr class="articlepagehr">
		
		<!-- info box -->
		{% unless page.subarticle %}
		<div class="box3 nodecoration">
			<h2 class="box3title textcentered">Info</h2>
			<img src="{{ page.infoimgpath }}" alt="{{ page.infoimgalt }}" id="infoimg">
			<h3 class="infoh3">Developed by: {{ page.developer }}
			<br>Devlopment Started: {{ page.devstart }}
			<br>Released: {{ page.released }}</h3>
			<p class="infoboxtext">{{ page.infotext }}</p>
		</div>
		{% endunless %}
		<!-- pages box -->
    {% if page.page1title %}
        <div class="box3 nodecoration">
            <h2 class="textcentered box3title">Pages</h2>
            {% if page.page1title %}
            <a href="{{ page.page1link }}">
                <div class="box3innerbox">
                    <p>{{ page.page1title }}<img src="{{ page.page1imagelink }}" alt="{{ page.page1imagealt }}"></p>
                </div>
            </a>
            {% endif %}
            {% if page.page2title %}
            <a href="{{ page.page2link }}">
                <div class="box3innerbox">
                    <p>{{ page.page2title }}<img src="{{ page.page2imagelink }}" alt="{{ page.page2imagealt }}"></p>
                </div>
            </a>
            {% endif %}
            {% if page.page3title %}
            <a href="{{ page.page3link }}">
                <div class="box3innerbox">
                    <p>{{ page.page3title }}<img src="{{ page.page3imagelink }}" alt="{{ page.page3imagealt }}"></p>
                </div>
            </a>
            {% endif %}
            {% if page.page4title %}
            <a href="{{ page.page4link }}">
                <div class="box3innerbox">
                    <p>{{ page.page4title }}<img src="{{ page.page4imagelink }}" alt="{{ page.page4imagealt }}"></p>
                </div>
            </a>
            {% endif %}
            {% if page.page5title %}
            <a href="{{ page.page5link }}">
                <div class="box3innerbox">
                    <p>{{ page.page5title }}<img src="{{ page.page5imagelink }}" alt="{{ page.page5imagealt }}"></p>
                </div>
            </a>
            {% endif %}
        </div>
    {% endif %}
		
    {% if page.disclaimer contains 'malicious' %}
    <div class="disclaimer box1 smallradius1">
        <p class="disclaimertext"><strong>Disclaimer</strong>: This article seems to be malicious. It could contain purposely incorrect information.</p>
        <div class="disclaimersymbol">&#128544;</div>
    </div>
    {% endif %}
    {% if page.disclaimer contains 'missing_images' %}
    <div class="disclaimer box1 smallradius1">
        <p class="disclaimertext"><strong>Disclaimer</strong>: This article seems to be missing an appropriate amount of images. Images should be added to places that seem baron.</p>
        <div class="disclaimersymbol">&#128444;&#65039;</div>
    </div>
    {% endif %}
    {% if page.disclaimer contains 'nonstandard' %}
    <div class="disclaimer box1 smallradius1">
        <p class="disclaimertext"><strong>Disclaimer</strong>: This article uses nonstandard code. It should be reformatted with the default template to have it fit with other articles.</p>
        <div class="disclaimersymbol">&#9940;</div>
    </div>
    {% endif %}
    {% if page.disclaimer contains 'outside_links' %}
    <div class="disclaimer box1 smallradius1">
        <p class="disclaimertext"><strong>Disclaimer</strong>: This article links to outside websites. Anything that is linked is not endorsed by Cut Content and should be removed from the page later.</p>
        <div class="disclaimersymbol">&#9875;</div>
    </div>
    {% endif %}
    {% if page.disclaimer contains 'plagurised' %}
    <div class="disclaimer box1 smallradius1">
        <p class="disclaimertext"><strong>Disclaimer</strong>: This article contains plagurised writing. This is condemned by Cut Content and it's contributors. It will stay until it is rewritten. The writer has been banned from writing articles.</p>
        <div class="disclaimersymbol">&#128203;</div>
    </div>
    {% endif %}
    {% if page.disclaimer contains 'poorly_written' %}
    <div class="disclaimer box1 smallradius1">
        <p class="disclaimertext"><strong>Disclaimer</strong>: This article very poorly written. Either multiple grammar, spelling, or formatting mistakes plague the entire article. Either fix the errors or rewrite the page.</p>
        <div class="disclaimersymbol">&#9999;&#65039;</div>
    </div>
    {% endif %}
    {% if page.disclaimer contains 'satire' %}
    <div class="disclaimer box1 smallradius1">
        <p class="disclaimertext"><strong>Disclaimer</strong>: This article is authorised satire. The contents are not meant to be taken seriously or as fact.</p>
        <div class="disclaimersymbol">&#128514;</div>
    </div>
    {% endif %}
    {% if page.disclaimer contains 'stub' %}
    <div class="disclaimer box1 smallradius1">
        <p class="disclaimertext"><strong>Disclaimer</strong>: This article is a stub. It contains little to no content.</p>
        <div class="disclaimersymbol">&#128207;</div>
    </div>
    {% endif %}
        
		<!-- article content start -->
        <div class="box3 nodecoration">
            <h2>Sections</h2>
            {% include toc.html html=content class="sections" %}
        </div>
        
        <div id="articlepagecontainer">
            {{ content }}
        </div>
		
		<!-- comments + hrs -->
        
    {% include comments.html %}
    
		{% include bottom.html %}
		
		<!-- Page End -->
		
		
		<!-- Footer Start-->
        
		{% include foot.html %}
		
		<!-- Footer End -->
	</body>
</html>
